<div class="row">
    <div class="col-md-12">
        <h2>Categories</h2>
        <hr />
        <table>
            <thead>
                <tr>
                    <td>Category ID</td>
                    <td>Category Name</td>
                </tr>
            </thead>
            <tbody>
                {{#each categories}}
                <tr>
                    <td><a href="/items?category={{this.id}}">{{this.id}}</a></td>
                    <td><a href="/items?category={{this.id}}">{{this.category}}</a></td>
                </tr>
                {{else}}
                <tr>
                    <td>No items found.</td>
                </tr>
                {{/each}}
            </tbody>
            <table>
    </div>

    <div class="col-md-12 text-center">
        {{#unless Categories}}
        <strong>{{message}}</strong>
        {{/unless}}
    </div>
</div>