<a href="/add-items" class="btn btn-success pull-right">Add Post</a>
<div class="row">
    <div class="col-md-12">
        <h2>Items</h2>
        <hr />
        <table>
            <thead>
                <tr>
                    <td>Item ID</td>
                    <td>Title</td>
                    <td>Post Date</td>
                    <td>Category</td>
                    <td>Price</td>
                    <td>Published</td>
                </tr>
            </thead>
            <tbody>
                {{#each items}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.postDate}}</td>
                    <td><a href="/items?category={{this.category}}">{{this.category}}</a></td>
                    <td>$ {{this.price}}</td>
                    <td>{{this.published}}</td>
                </tr>
                {{else}}
                <tr>
                    <td>No items found.</td>
                </tr>
                {{/each}}
            </tbody>
            <table>
    </div>

    <div class="col-md-12 text-center">
        {{#unless items}}
        <strong>{{message}}</strong>
        {{/unless}}
    </div>
</div>