<div class="row">
    <div class="col-md-12">
        <h2>WEB322 <span>{{session.user.userName}}</span> ( <span>{{session.user.email}}</span> ) History</h2>
        <hr />
        <table>
            <thead>
                <tr>
                    <td>Login Date/Time</td>
                    <td>Client Information</td>
                </tr>
            </thead>
            <tbody>
                {{#each session.user.loginHistory}}
                <tr>
                    <td>{{this.dateTime}}</td>
                    <td>{{this.userAgent}}</td>
                </tr>
                {{else}}
                <tr>
                    <td>No login history found.</td>
                </tr>
                {{/each}}
            </tbody>
            <table>
    </div>

    <div class="col-md-12 text-center">
        {{#unless session.user.loginHistory}}
        <strong>{{message}}</strong>
        {{/unless}}
    </div>
</div>